/* PrayerZ CSS */

.prayer-description {
    font-size: smaller;
}

.prayer-tags {
    font-size: small;
    color: gray;
}

.prayer-title {
    font-weight: bold;
}

.text-label {
    font-size: 0.8em;
    color: rgb(31, 117,191);
    text-transform: uppercase;
}

.add-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 10px;
    font-size: smaller;
}

.hint {
    font-size: smaller;
    text-align: center;
    padding: 10px;
}

.popup-title {
    font-size: 1.2em;
    text-align: center;
}

.popup-info {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    text-align: center;   
}

.popup-version {
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 0.7em;
    text-align: center;
    
}
