/* PrayerZ CSS */

.prayer-description {
    font-size: smaller;
}

.prayer-tags {
    font-size: small;
    color: gray;
}

.prayer-title {
    font-weight: bold;
}

.text-label {
    font-size: 0.8em;
    color: rgb(31, 117,191);
    text-transform: uppercase;
}
